<section>
  <h2>Participar de uma Sala</h2>
  <form action="/enterroom" method="POST">
    <label class="sr-only" for="room-id">Código da Sala</label>
    <input name="roomId" type="number" id="room-id" placeholder="Código da sala">
    <button>
      <a href=""><img src="/images/image/enter-room.svg" alt="Entrar em Uma Sala"></a>
      Entrar na Sala
    </button>
  </form>
</section>

<div class="separator">
  <div></div>
  <div>ou</div>
  <div></div>
</div>

<section>
  <h2>Criar Sala</h2>
  <a href="/create-pass" class="button outlined">
    <img src="/images/image/users.svg" alt="Imagem Usuarios"> Criar Sala
  </a>
</section> 
